* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
}

.nav-bar {
  transition: 0.5s;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 200;
}

.container {
  display: flex;
  justify-content: space-between;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.693);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #3a3a3ab1;
}

.header-title {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.me-auto {
  align-items: center;
  width: 100%;
}

.nav-link {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 5px;
  font-family: 'Montserrat', sans-serif;
}

.active_header {
  transition: 0.5s;
  background-color: #33312e75;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 1;
}

@media ( max-width: 991px) {
  .nav-link {
    width: 85%;
  }
  
  .navbar-brand img {
    width: 200px;
  }

  .apresentation-title h1 {
    margin-top: 40px;
  }

}
